html, body {
  padding: 0px;
  width: 100%;
  height: 100%;
}

.top{
  position: absolute;
  width: 100%;
  height: 15%;
  background-color: #2b69e8;
}


.icon{
  position: absolute;
  width: 100px;
  height: 100px;
  top: 10px;
  left: 10px;
}
