html, body {
  padding: 0px;
  width: 100%;
  height: 100%;
}

.top{
  position: absolute;
  width: 100%;
  height: 15%;
  background-color: #2b69e8;
}


.icon{
  position: absolute;
  width: 100px;
  height: 100px;
  top: 10px;
  left: 10px;
}

#recete{
  position: absolute;
  top: 30%;
  width: 100%;
  height: 300px;

}
.row{
  height: 100%;
}

.container_recete{
  background-color: #ff7e06;
  width: 100%;
  height: 100%;
  border-radius: 3%;
}

.recete_img{
  width: 45%;
  height: 75%;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  border-radius: 3%;


}

.col-sm-4{
  margin-bottom: 3%;
}
